@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 110vh;
    background: #232c68;
    padding: 20px;
}
.wrapper{
    background: #fff;
    padding: 25px;
    max-width: 530px;
    width: 100%;
    border-radius: 5px;
}
.wrapper2{
    background: #fff;
    padding: 25px;
    max-width: 800px;
    width: 100%;
    border-radius: 5px;
}
.wrapper .item{
    background: #232c68;
    color: #fff;
    display: flex;
    padding: 12px 17px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}
.wrapper .item .text{
    font-size: 18px;
    font-weight: 400;
}
.wrapper .item i{
    font-size: 18px;
    cursor: pointer;
}
.custom-box {
    max-width: 00px;
    background-color: #eeeeee;
    margin: 40px auto;
    padding: 10px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
}

.content{
    padding: 0 20px 0 35px;
    width: 600px;
    margin-left: 20px;
    transition: .6s;
}
.content span{
    display: block;
    color: #7b7992;
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}
.content .title{
    font-size: 30px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 10px;
}
.content .text{
    font-size: 14px;
    color: #232c68;
    margin-bottom: 10px;
    line-height: 1.5em;
    text-align: justify;
}
.content button{
    display: inline-flex;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    background:#f89837;
    outline: none;
    cursor: pointer;
}
.content button a{
    text-decoration: none;
    color: white;
}
.content button:hover{
    background: #232c68;
    color: white;
}

@media screen and (max-width: 50rem) {
    .inner-part{
        flex-direction: column;
    }
    .wrapper2{
        height: 900px;
    }
    .img{
        left: 10%;
    }
    .content{
        margin-left: 0;
        width: auto;
        margin-top: 1rem;
    }
    .text{
        text-align: left !important;
    }
    
}